In [69]:
# importing useful libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.svm import SVC
# Importing Training set
data = pd.read_csv('training_set.csv')
dataset = pd.DataFrame(data)
dataset.columns

Index(['Unnamed: 0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9',
       'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29',
       'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39',
       'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49',
       'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'Y'],
      dtype='object')

In [70]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 59 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3910 non-null   int64
 1   X1          3910 non-null   float64
 2   X2          3910 non-null   float64
 3   X3          3910 non-null   float64
 4   X4          3910 non-null   float64
 5   X5          3910 non-null   float64
 6   X6          3910 non-null   float64
 7   X7          3910 non-null   float64
 8   X8          3910 non-null   float64
 9   X9          3910 non-null   float64
 10  X10         3910 non-null   float64
 11  X11         3910 non-null   float64
 12  X12         3910 non-null   float64
 13  X13         3910 non-null   float64
 14  X14         3910 non-null   float64
 15  X15         3910 non-null   float64
 16  X16         3910 non-null   float64
 17  X17         3910 non-null   float64
 18  X18         3910 non-null   float64
 19  X19         3910 non-null   float64
 20  X20         3910 non-null   float64
 21  X21         3910 non-null   float64
 22  X22         3910 non-null   float64
 23  X23         3910 non-null   float64
 24  X24         3910 non-null   float64
 25  X25         3910 non-null   float64
 26  X26         3910 non-null   float64
 27  X27         3910 non-null   float64
 28  X28         3910 non-null   float64
 29  X29         3910 non-null   float64
 30  X30         3910 non-null   float64
 31  X31         3910 non-null   float64
 32  X32         3910 non-null   float64
 33  X33         3910 non-null   float64
 34  X34         3910 non-null   float64
 35  X35         3910 non-null   float64
 36  X36         3910 non-null   float64
 37  X37         3910 non-null   float64
 38  X38         3910 non-null   float64
 39  X39         3910 non-null   float64
 40  X40         3910 non-null   float64
 41  X41         3910 non-null   float64
 42  X42         3910 non-null   float64
 43  X43         3910 non-null   float64
 44  X44         3910 non-null   float64
 45  X45         3910 non-null   float64
 46  X46         3910 non-null   float64
 47  X47         3910 non-null   float64
 48  X48         3910 non-null   float64
 49  X49         3910 non-null   float64
 50  X50         3910 non-null   float64
 51  X51         3910 non-null   float64
 52  X52         3910 non-null   float64
 53  X53         3910 non-null   float64
 54  X54         3910 non-null   float64
 55  X55         3910 non-null   float64
 56  X56         3910 non-null   int64
 57  X57         3910 non-null   int64
 58  Y           3910 non-null   int64
dtypes: float64(55), int64(4)
memory usage: 1.8 MB

In [71]:
dataset.drop(dataset.columns[[0]],axis=1,inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 58 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      3910 non-null   float64
 1   X2      3910 non-null   float64
 2   X3      3910 non-null   float64
 3   X4      3910 non-null   float64
 4   X5      3910 non-null   float64
 5   X6      3910 non-null   float64
 6   X7      3910 non-null   float64
 7   X8      3910 non-null   float64
 8   X9      3910 non-null   float64
 9   X10     3910 non-null   float64
 10  X11     3910 non-null   float64
 11  X12     3910 non-null   float64
 12  X13     3910 non-null   float64
 13  X14     3910 non-null   float64
 14  X15     3910 non-null   float64
 15  X16     3910 non-null   float64
 16  X17     3910 non-null   float64
 17  X18     3910 non-null   float64
 18  X19     3910 non-null   float64
 19  X20     3910 non-null   float64
 20  X21     3910 non-null   float64
 21  X22     3910 non-null   float64
 22  X23     3910 non-null   float64
 23  X24     3910 non-null   float64
 24  X25     3910 non-null   float64
 25  X26     3910 non-null   float64
 26  X27     3910 non-null   float64
 27  X28     3910 non-null   float64
 28  X29     3910 non-null   float64
 29  X30     3910 non-null   float64
 30  X31     3910 non-null   float64
 31  X32     3910 non-null   float64
 32  X33     3910 non-null   float64
 33  X34     3910 non-null   float64
 34  X35     3910 non-null   float64
 35  X36     3910 non-null   float64
 36  X37     3910 non-null   float64
 37  X38     3910 non-null   float64
 38  X39     3910 non-null   float64
 39  X40     3910 non-null   float64
 40  X41     3910 non-null   float64
 41  X42     3910 non-null   float64
 42  X43     3910 non-null   float64
 43  X44     3910 non-null   float64
 44  X45     3910 non-null   float64
 45  X46     3910 non-null   float64
 46  X47     3910 non-null   float64
 47  X48     3910 non-null   float64
 48  X49     3910 non-null   float64
 49  X50     3910 non-null   float64
 50  X51     3910 non-null   float64
 51  X52     3910 non-null   float64
 52  X53     3910 non-null   float64
 53  X54     3910 non-null   float64
 54  X55     3910 non-null   float64
 55  X56     3910 non-null   int64
 56  X57     3910 non-null   int64
 57  Y       3910 non-null   int64
dtypes: float64(55), int64(3)
memory usage: 1.7 MB

In [72]:
dataset.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X49,X50,X51,X52,X53,X54,X55,X56,X57,Y
count,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,...,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000,3910.000000
mean,0.102990,0.206419,0.284419,0.062074,0.311309,0.095974,0.112320,0.106041,0.091146,0.244345,...,0.037493,0.139252,0.015876,0.272971,0.077820,0.043828,5.047150,52.338107,283.059079,0.392327
std,0.296322,1.253828,0.504352,1.369361,0.656195,0.261455,0.389516,0.398694,0.271417,0.667065,...,0.235054,0.276309,0.083600,0.858634,0.256991,0.452862,31.397035,204.445218,578.339858,0.488331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.580750,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.066000,0.000000,0.000000,0.000000,0.000000,2.263500,15.000000,94.000000,0.000000
75%,0.000000,0.000000,0.430000,0.000000,0.387500,0.000000,0.000000,0.000000,0.000000,0.170000,...,0.000000,0.188000,0.000000,0.317250,0.054000,0.000000,3.714000,43.000000,264.000000,1.000000
max,4.340000,14.280000,4.540000,42.810000,9.090000,3.570000,7.270000,11.110000,3.230000,18.180000,...,4.385000,9.752000,2.777000,32.478000,6.003000,19.829000,1102.500000,9989.000000,10062.000000,1.000000

In [73]:
dataset = dataset.replace('?', np.nan)
dataset = dataset.apply(lambda x: x.fillna(x.median()),axis=0)

dataset.isnull().sum()

X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
X24    0
X25    0
X26    0
X27    0
X28    0
X29    0
X30    0
X31    0
X32    0
X33    0
X34    0
X35    0
X36    0
X37    0
X38    0
X39    0
X40    0
X41    0
X42    0
X43    0
X44    0
X45    0
X46    0
X47    0
X48    0
X49    0
X50    0
X51    0
X52    0
X53    0
X54    0
X55    0
X56    0
X57    0
Y      0
dtype: int64

In [74]:
# Corelation Matrix
matrix = dataset.corr()
t = matrix.iloc[57].to_numpy().tolist()
column = list(matrix)
print(t,column)

[0.12980507993106113, -0.026475710462388575, 0.2049652139682004, 0.05560851292739441, 0.24240043435722572, 0.25361256601800847, 0.32723309959929225, 0.21733192006950997, 0.2542970525286175, 0.13824493566422824, 0.2476402912789233, 0.008186960443886114, 0.12546420237304765, 0.07857003851595049, 0.19377704249969357, 0.26482582650341924, 0.2691902547156586, 0.2068023716488083, 0.2839361731671948, 0.2177989302622893, 0.39309854950768464, 0.08863711566108474, 0.33891288529783825, 0.22026145110469675, -0.2543435547310732, -0.2315691414504937, -0.18273236900481069, -0.1559988054847192, -0.1315451251131554, -0.17031575740968807, -0.12634503178566905, -0.11471201112839297, -0.11712493370524182, -0.11324714046568994, -0.14772193466660036, -0.1372721577927458, -0.1819429505860763, -0.029936110414371067, -0.13057761483723798, -0.0631343899554799, -0.09626094367457366, -0.13719342365612316, -0.1406993053717633, -0.09287015429265842, -0.14322570666606002, -0.1449996261772494, -0.04622953980933579, -0.0838112717205783, -0.059695037402950984, -0.08354324191647451, -0.08067496229426499, 0.22589020276174437, 0.3173837767216963, 0.0568880976991488, 0.1048389807434478, 0.2074712582983644, 0.2704213932788113, 1.0] ['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'Y']

In [75]:
drop = []
for i in range(len(t)):
    if(t[i]<0.01 and t[i]>-0.2):
        drop.append(column[i])
drop.append('Y')
print(drop)

['X2', 'X12', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'Y']

In [76]:
target = dataset['Y']
features = dataset.drop(drop, axis=1)
X_train, X_test, y_train, y_test = train_test_split(features,target, test_size = 0.2, random_state = 10)
model = LogisticRegression(solver='liblinear', random_state=0).fit(X_train, y_train)
prediction = model.predict(X_test)

In [77]:
print("Confusion Matrix:\n",confusion_matrix(prediction,y_test))
print("Accuracy Score:\n",accuracy_score(y_test,prediction))

Confusion Matrix:
 [[439  59]
 [ 31 253]]
Score:
 0.8849104859335039

In [81]:
# Now we try for the test dataset
data = pd.read_csv('test_set.csv')
dataset = pd.DataFrame(data)
dataset.columns
dataset.drop(dataset.columns[[0]],axis=1,inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691 entries, 0 to 690
Data columns (total 57 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      691 non-null    float64
 1   X2      691 non-null    float64
 2   X3      691 non-null    float64
 3   X4      691 non-null    float64
 4   X5      691 non-null    float64
 5   X6      691 non-null    float64
 6   X7      691 non-null    float64
 7   X8      691 non-null    float64
 8   X9      691 non-null    float64
 9   X10     691 non-null    float64
 10  X11     691 non-null    float64
 11  X12     691 non-null    float64
 12  X13     691 non-null    float64
 13  X14     691 non-null    float64
 14  X15     691 non-null    float64
 15  X16     691 non-null    float64
 16  X17     691 non-null    float64
 17  X18     691 non-null    float64
 18  X19     691 non-null    float64
 19  X20     691 non-null    float64
 20  X21     691 non-null    float64
 21  X22     691 non-null    float64
 22  X23     691 non-null    float64
 23  X24     691 non-null    float64
 24  X25     691 non-null    float64
 25  X26     691 non-null    float64
 26  X27     691 non-null    float64
 27  X28     691 non-null    float64
 28  X29     691 non-null    float64
 29  X30     691 non-null    float64
 30  X31     691 non-null    float64
 31  X32     691 non-null    float64
 32  X33     691 non-null    float64
 33  X34     691 non-null    float64
 34  X35     691 non-null    float64
 35  X36     691 non-null    float64
 36  X37     691 non-null    float64
 37  X38     691 non-null    float64
 38  X39     691 non-null    float64
 39  X40     691 non-null    float64
 40  X41     691 non-null    float64
 41  X42     691 non-null    float64
 42  X43     691 non-null    float64
 43  X44     691 non-null    float64
 44  X45     691 non-null    float64
 45  X46     691 non-null    float64
 46  X47     691 non-null    float64
 47  X48     691 non-null    float64
 48  X49     691 non-null    float64
 49  X50     691 non-null    float64
 50  X51     691 non-null    float64
 51  X52     691 non-null    float64
 52  X53     691 non-null    float64
 53  X54     691 non-null    float64
 54  X55     691 non-null    float64
 55  X56     691 non-null    int64
 56  X57     691 non-null    int64
dtypes: float64(55), int64(2)
memory usage: 307.8 KB

In [90]:
if 'Y' in drop:
    drop.remove('Y')
features = dataset.drop(drop, axis=1)
predict_test = model.predict(features).tolist()
print(predict_test)
df = pd.DataFrame()
df['Y'] = predict_test
df.to_csv('predict_test.csv')

[0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0]

In [ ]:
# model = svm.SVC().fit(X_train,y_train)
#prediction = model.predict(X_test)
#print("Confusion Matrix:\n",confusion_matrix(prediction,y_test))